
body{
	background-color: #FEF7E3;
}
h1 {
	font-family: 'Arvo', serif;
	color: #F8BA00;
	text-shadow: 2px 2px #FCE492;
}

hr {
	margin-left: 0px;
	width: 170px;
	height: 5px;
	color: #F8BA00;
	background: #F8BA00;
	margin-top: 20px;
	box-shadow: 2px 2px #FCE492;
	border-radius: 30%;
}

div.coder{
	width: 300px;
	height: 300px;
	margin-left: 20px;
	margin-bottom: 50px;
	display: inline-block;
	
}

div.coder img{
	width: 100%;
	height: auto; /* si la imagen es más grande que el alto de la venta, se ajusta*/
	position: relative;
	opacity: 0.8;
}

div.coder img:hover{
	opacity: 1;
}

div.coder p{
	position: relative;
	bottom: 50px;
	color: white;
	text-align: right;
	font-family: arial;
	margin right: 10px;
	padding-right: 10px;
	line-height: 10px;
	text-shadow: 3px 2px 2px black;
}

/*No supe hacer que todas las imágenes quedaran del mismo tamaño*/
